
body{
    background-color: rgb(253, 253, 129);
    color: rgb(70, 70, 47);
    
}
nav{
    background-color: white;
    padding: 5px;
    margin-top: -1VW;
    margin-left: -1VW;
    margin-right: -1VW;
}
.input-row{
    padding: 6px;
    margin-right: 200px;
   text-align: end;
   margin-top: 50px;
   font-size: 1.5em;
   
}
input{
    padding: 10px;
    margin: 5px;
}

h1{
    text-align: center;
    font-size: 2em;
}

th{
    border: 1px solid rgb(63, 57, 57);
    padding: 10px;
}

table
{
    border-collapse: collapse;
    margin-left: 50px;
    margin-top: -15vw;
    margin-right: 600px;
    font-size: 1.5em;
    background-color: rgb(246, 246, 189);
    
    
}
td{
    border: 1px solid black;
    padding: 10px;   
}
.submit{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    border-color: rgb(206, 206, 105);
    background-color: rgb(189, 189, 106);
    display: flex;
    float: right;
    margin-right: 300px;
    margin-top: 20px;
    font-size: 1em;
    font-weight: bold;
}
.login{
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 5px;
    border-color: rgb(206, 206, 105);
    background-color: rgb(189, 189, 106); font-size: 1em;
    font-weight: bold;
    
}
